@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"),
    local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"),
    local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"),
    local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system";
  margin: 0;
}

.App {
  min-height: calc(100vh - 4rem);
}

.container {
  width: 75%;
  margin: 0 auto;
  padding-top: 5rem;
  text-align: center;
}

.container form {
  margin: 2rem 0;
}

.container fieldset {
  border: none;
  text-align: left;
}

.container input {
  width: 100%;
  padding: 0.5rem;
}

.container button {
  padding: 0.8rem 2rem;
  margin: 0 auto;
  display: block;
  background-color: #1B98E0;
  box-shadow: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.footer {
  text-align: right;
  padding: 0 1rem;
}